table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #3da60d;
    color: white;
}
tr:hover {
    background-color: #f1f1f1;
}

.acciones {
  margin-bottom: 20px;
  text-align: end;
}

.acciones button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(to left, #0d5c27, #3da60d);
  color: white;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}